.bg-theme{
    background-color:#A17B76;
}

.font-theme{
    color: #9D5B53;
}

.submit-theme{
    color: white;
    background-color: #418647;
}

.cancle-theme{
    color: white;
    background-color: red; 
}

.bgg-theme{
    background-color:#A17B76;
}

.modal-theme{
    color: white;
    background-color:#A17B76;
}

